.menu_item {
  text-align: center;
}

.menu_code {
  font-size: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: solid #00b3ff 1px;
}

.menu_code:hover {
  background:#00b3ff;
}

.menu_code:active {
  background:#1e7aa1;
}

div.div_sandbox_bottom_spacer {
  height: auto;
}

ul.div_sandbox_dock {
  display:block;
}
